/* https://colorhunt.co/palette/000000f72798f57d1febf400 */

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

html {
    font-size: 24px;
}  

body {
    background-color: #EBF400;
    font-family: "VT323", monospace;
}

.sgs-flex {
    display: flex;
}

ul {
    list-style-type: none;
}